{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "tabWidth": 2,
  "bracketSpacing": true,
  "singleAttributePerLine": true,
  "endOfLine": "lf",
  "arrowParens": "always",
  "printWidth": 100
}
